.leftaxis{
    background-color: yellow;
}

.graph{
    padding-bottom: 12px;
}

.graph::-webkit-scrollbar{
    height: 7.5px;
    cursor: pointer;
}

.graph::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 5px;
    cursor: pointer;
}

.graph::-webkit-scrollbar-track{
    background-color: #eee;
    border-radius: 5px;
    padding: 8px 0;
    cursor: pointer;
}