.daily{}

.daily-row{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    margin-bottom: -22px;
    margin-left: 10px;
    padding-left: 15px;
    border-radius: 5px;
}

.daily-row:hover{
    background-color: #eee;
}

.daily-row div{
    margin-right: 30px;
}

.daily-row img{
    width: 60px;
    margin-right: 30px;
}

.dropdown{
    margin-left: auto;
    font-size: 20px;
}