.current{
    padding:35px 125px;
}

.date{
    color: crimson;
}

.name{
    font-size: 1.5rem;
    font-weight: 700;
}

.icon-temp{
    display: flex;
    align-items: center;
}

.temp{
    margin-left: 25px;
    font-size: 1.75rem;
}

.desc{
    font-weight: 600;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 125px);
    grid-template-rows: repeat(3, 25px);
    margin-top: 16px;
    font-size: 14px;
    border-left: 1px solid crimson;
    padding-left: 25px;
}